.container {
    position: relative;
    height: 13em;
    width: 100%;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #dbdbdb;
}

.border {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 7px;
}
